{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Editors</h2>
      <p>Only editors should be able to view this page!</p>
      <h3>Users</h3>
      <table>
        <thead>
          <th>Username</th>
          <th>Passwords (hashed)</th>
          <th>Access Level</th>
        </thead>
        <tbody>
          {{#Users}}
          <tr>
            <td>{{username}}</td>
            <td>{{password}}</td>
            <td>{{level}}</td>
          
          </tr>
          {{/Users}}
        </tbody>
      </table>
      <h3>Articles</h3>
      <table>
        <thead>
          <th>Title</th>
          <th>Author</th>
        </thead>
        <tbody>
          {{#Articles}}
          <tr>
            <td>{{title}}</td>
            <td>{{username}}</td>      
          </tr>
          {{/Articles}}
        </tbody>
      </table>
      
    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}
